//////////////////////////////////////////////////////////////////////////////////
//////////////////////////// Medium Stylesheet //////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

/* ==========================================================================
   Typography
   ========================================================================== */

h1,h2,h3,h4{
    font-weight: 700;
}

h1 {
    @include baseline(28px);
}

h2 {
    @include baseline(21px);;
}

h3 {
   @include baseline(18px);
}

h4 {
    @include baseline(16px);
}

h5 {
    @include baseline(14px);
}

h6 {
    font-size: 0.67em;
    margin: 2.33em 0;
}

p{
    @include baseline(16px);
}

address{
    @include baseline(16px);
}

a{
    color: $orange;
    text-decoration: none;
    @include baseline(16px);
    &:hover, &:active, &:focus{
        color: $orange-dark;
    }
}

strong, b{
    font-weight: 700;
}


/* ==========================================================================
   Grid / Layout 
   ========================================================================== */

     .third{@include column(4);}

     .wrap{
       
     }

/* ==========================================================================
   Header / Logo 
   ========================================================================== */    
    
    #logo{
        position: absolute;    
        float: left;    
        height: 50px;
        padding: 10px 0;
        width: 270px;
        border-bottom: 3px solid $orange-dark;
        text-align: center;

        img{
            width: 230px;
        }
    }


/* ==========================================================================
   Navigation 
   ========================================================================== */ 

    .nav-wrap{
        background: rgba($black, 0.8);
        @include clearfix();
        position: fixed;
        width: 100%;      
        z-index: 10;
    }

    #nav{

        & > a{
            display: none !important;
        }

        li{
            position: relative;
        }
     
        /* first level */
        & > ul{
            background: none;
            display: block;
            position: initial;
            float: right;
            height: 3.438em;
            left: initial;
            width: 60%;

        }
        
        & > ul > li{
            width: 25%;
            height: 100%;
            float: left;
        }

        ul > li:hover > a,
        ul:not( :hover ) > li.active > a{
            background-color: initial;
            font-weight: 700;        
        }

        /* second level */
        li ul{
            display: none;
            background: rgba(white, 0.6);
            position: absolute;
            top: 100%;

            li{
                a{
                    padding-left: 1em;
                    color: $gray;
                }

                &:hover{
                    background: rgba(white, 0.8);                    
                }
            }
        }

        li:hover ul {
            display: block;                  
        }
    }


/* ==========================================================================
Hero
========================================================================== */

.hero{
    position: relative;
    top: 30%;
}

.page-hero{
    @extend .wrap;
    top: 10em;
    
    h1{  
        background: rgba($blue, 0.6);        
        padding: .4em;
        text-align: center;
        color: white;
        margin: 0;        
        font-weight: 300; 
        font-size: 4em;
        text-transform: uppercase;
        line-height: 1.2em;
    }

    i{
        font-size: 1em;
        vertical-align: -5px;
    }
}

/* ==========================================================================
Grants
========================================================================== */

#grants{
    
}
    
.thumb-box{
    @include column(4);
    margin: 0 0.9%;

    .inner{
        //padding: 1em;
        border-bottom: 7px solid $gray-lighter;
        transition: all 0.15s ease-in-out 0s;
    }

    .over{     
        transition: all 0.15s ease-in-out 0s;
    }

    .thumb{
        overflow: hidden;
    }


    &:hover > .thumb img{
        transform: scale(1.15);
        transition: all 0.15s ease-in-out 0s;
    }



}


/* ==========================================================================
Main Content 
========================================================================== */

#content{
    
    @include column(9);
}


/* ==========================================================================
Sidebar 
========================================================================== */

#sidebar{
    
     @include column(3);

     nav{
        position: relative;
        top: -4em;
     }
}

/* ==========================================================================
Footer 
========================================================================== */

footer{
    clear: both;
}



